<div id="home-top-banners">
    <div class="container">
        <div class="row">

            <div class="col-xs-4 banner-item wow fadeInUp" data-wow-delay="100ms">
                <a title="Shop for Skirts" href="http://www.jeansoasis.co.uk/skirts/">
                    <img class="__mce_add_custom__" src="http://cdn6.bigcommerce.com/s-1ibnorf/product_images/uploaded_images/top-banner-home-1.jpg?t=1478886870" alt="" width="370" height="200">
                    <h4><span> Skirts </span></h4>
                </a>
            </div>

            <div class="col-xs-4 banner-item wow fadeInUp" data-wow-delay="300ms">
                <a title="Ladies Jeans Online" href="http://www.jeansoasis.co.uk/ladies/jeans-trousers-online/">
                    <img class="__mce_add_custom__" src="http://cdn6.bigcommerce.com/s-1ibnorf/product_images/uploaded_images/top-banner-home-2.jpg?t=1479141804" alt="" width="370" height="200">
                    <h4><span> Jeans </span></h4>
                </a>
            </div>

            <div class="col-xs-4 banner-item wow fadeInUp" data-wow-delay="500ms">
                <a title="Shop for Dresses" href="http://www.jeansoasis.co.uk/dresses/">
                    <img class="__mce_add_custom__" src="http://cdn6.bigcommerce.com/s-1ibnorf/product_images/uploaded_images/top-banner-home-3.jpg?t=1478888450" alt="" width="370" height="200">
                    <h4><span> Dresses </span></h4>
                </a>
            </div>

        </div>
    </div>
</div>
