<!-- <div id="InstagramGallery" class="wow fadeInUp" data-wow-delay="100ms">
    <div class="container">
        <div class="widget-title">
            <h3>#Ella On Instagram</h3>
            <p class="instagram-desc"><svg><use xlink:href="#icon-instagram"></use></svg><span>Phasellus lorem malesuada ligula pulvinar commodo maecenas suscipit auctom.</span></p>
        </div>

        <div id="instafeed" class="owl-carousel" data-userid="2475484090" data-accesstoken="2475484090.1677ed0.af57ccabd9e54e2e8ede8369478f70a9"></div>

        <a href="https://www.instagram.com/demo.halothemes/" target="_blank" class="btn btn-primary insta-btn"><span>View Gallery</span><i class="fa fa-caret-right"></i></a>
    </div>
</div> -->
