<div id="sideBannerImage" class="sidebarBlock">
    <a href="http://www.jeansoasis.co.uk/skirts/" title=""><img alt="" src="http://cdn6.bigcommerce.com/s-1ibnorf/product_images/uploaded_images/product-left-banner.jpg?t=1469357887"></a>
</div>
<div id="sideCustomCMS" class="sidebarBlock">
    <h5 class="side-module-heading"><span>Wow Outfit Inspiration</span></h5>
    <div class="side-cms-content">
        <p>Spring showers hope and new life to dream for summer holidays, festivals, gardening, sea side walks and endless activity. </p>
        <p>Enjoy our collection of dungarees, skirts, dresses, jeans, tops and more to fill your holiday bags. For real extra value and joy enjoy them all year round.</p>
    </div>
</div>

